@model User

<div class="container mt-5">
    <div class="card shadow rounded">
        <div class="card-header bg-primary text-white">
            <h4>Detalji korisnika</h4>
        </div>
        <div class="card-body">
            <form asp-action ="Update" asp-controller="User" method="post">
                <div class="mb-3">
                    <label class="form-label">ID</label>
                    <input type="text" class="form-control" name="Id" value="@Model.Id"  readonly/>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ime</label>
                    <input type="text" class="form-control" name="Name" value="@Model.Name" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Prezime</label>
                    <input type="text" class="form-control" name="Surname" value="@Model.Surname" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="Email" value="@Model.Email" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Role</label>
                    <input type="text" class="form-control" name="Role" value="@Model.Role" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <span>@Model.Status</span>
                    <select name="Status">
                        <option >Choose your State</option>
                        <option value="@(Model.Status == "Active" ? "Inactive" : "Active")">@(Model.Status == "Active" ? "Inactive" : "Active")</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Version</label>
                    <input type="text" class="form-control" name="VersionNum" value="@Model.VersionNum" />
                </div>
                <input type="hidden" name="Password" value="@Model.Password" />
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
